a.username {
    color: cbd4d6
}

a.tag {
    color: cbd4d6
}
body{
 background: url(/images/quack.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  background-attachment: fixed;
  background-color: #b0e9f4

}
form{
max-width: 250px;
margin-left: 30px;

}
h2{
margin-left:30px;
margin-top:50px;
}
.jumbotron{
background: none;
}

.list-group{
max-width: 400px;
margin-left: 30px;
}
.quacks{
margin-left: 50px;
}